:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --background-color: #ffffff;
  --hero-section-color: #2f303a;
  --team-section-color: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --additional-text-color: #ffffff;
  --footer-contacts: color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.03em;
}

.header {
  background: var(--background-color);
}

.navigation-menu {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.page-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.web-black {
  color: var(--title-text-color);
}

.web-white {
  color: var(--additional-text-color);
}

.list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  display: inline-flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link,
.tel {
  color: var(--title-text-color);
  text-decoration: none;
}

.nav-menu .link:hover,
.nav-menu .link:focus,
.contact-menu .link:hover,
.contact-menu .link:focus {
  color: var(--accent-color);
}

.nav-menu .link.current {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--hero-section-color);
  text-align: center;
}

.hero-title {
  color: var(--background-color);
}

.button {
  color: var(--additional-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-color: transparent;
  cursor: pointer;
}

/* section */
.section-title {
  color: var(--title-text-color);
}

.feature-list .title {
  text-transform: uppercase;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 16px;
}

.our-team {
  background-color: var(--team-section-color);
}

.our-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.footer {
  background-color: var(--hero-section-color);
}

.adress {
  color: var(--additional-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.contact-footer {
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-contacts);
  text-decoration: none;
}

/* Portfolio*/

.filter-menu {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  cursor: pointer;
}

.filter-item {
  color: var(--title-text-color);
  background-color: var(--team-section-color);
  border-style: none;
}

.filter-item:hover,
.filter-item:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.title-similar {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.text-similar {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
